INPUT_SSH_PRIVATE_KEY= # Override this with something like -e $(cat ~/.ssh/my_honeypot_ssh_key.pem)
INPUT_SSH_PUBLIC_KEY= # Override this with something like -e $(cat ~/.ssh/my_honeypot_ssh_key.pub)
INPUT_AWS_ACCESS_KEY_ID=
INPUT_AWS_SECRET_ACCESS_KEY=
INPUT_AWS_DEFAULT_REGION=
INPUT_AWS_S3_TF_STATE_BUCKET=
INPUT_AWS_HONEYPOT_REGIONS=
INPUT_HONEYPOT_SERVERS_PER_REGION=
INPUT_ELASTICSEARCH_INDEX_PREFIX=
INPUT_ELASTICSEARCH_HOST=
INPUT_ELASTICSEARCH_PORT=
INPUT_ELASTICSEARCH_SCHEME=
INPUT_ELASTICSEARCH_USER=
INPUT_ELASTICSEARCH_PASSWORD=
INPUT_ELASTICSEARCH_INDEX_PREFIX=